@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

body {
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 22px;
  margin: 20px 0 10px;
  font-weight: 700;
}
